@font-face {
    font-family: "Kanit";
    font-weight: 700;
    src: local('Kanit'), url('./fonts/kanit-extrabolditalic-webfont.woff2') format('woff2'), url('./fonts/kanit-extrabolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: "KanitBlack";
    font-weight: 700;
    src: local('KanitBlack'), url('./fonts/kanit-black-webfont.woff2') format('woff2'), url('./fonts/kanit-black-webfont.woff') format('woff');
}

@font-face {
    font-family: "SofiaCondensed";
    font-weight: 400;
    src: local('SofiaCondensed'), url('./fonts/sofiasanscondensed-variablefont_wght-webfont.woff2') format('woff2'), url('./fonts/sofiasanscondensed-variablefont_wght-webfont.woff') format('woff');
}

$primary: #ee470b;
$secondary: #0a2137;
$info: rgba(0, 0, 0, 0);
$warning: rgb(255, 255, 255);
$danger: #44566e;

@import "~bootstrap/scss/bootstrap.scss";
